<h1>Items in Wardrobe:</h1>

<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">

<table class="table" id="itemstable">
    <thead>
        <th>
            <td>Type</td>
            <td>Name</td>
            <td>Brand</td>
            <td>Substyles</td>
            <td>User</td>
        </th>
    </thead>
    
    <tbody>
        {{#each items}}
        <tr>
          <td></td>
          <td>{{item_type}}</td>  
          <td>{{name}}</td>
          <td>{{brand}}</td>
          <td>{{substyle}}</td>
          <td>{{user}}</td>
          <td><button onclick="deleteItem({{id}})">Delete</button></td>
        <td><a href="/items/{{id}}">Update</a></td>
        </tr>
        {{/each}}
    </tbody>
    
 
</table>

<hr>
    {{!--New Item--}}
    <p>Add a new Item</p>
    <form id="additem" action="/items" method="post">
    <div class="form-group">    
    Type <select name="type"> 
        {{#each types}}
        <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select><br>
     Name: <input type="text" name="name"><br>
     Brand <select name="brand"> 
        {{#each brands}}
        <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select><br>
    Substyle <select name="substyle"> 
        {{#each substyles}}
        <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select><br>
    <input type="submit" value="Submit">
    </div>
    </form>
    

    
    
<script>
$(document).ready( function () {
    $('#myTable').DataTable();
} );
</script>