<h1>Update {{item.name}}:</h1>
<form id="update-item" action="/items" method="post">
    Type: <select name="type" id="type-selector"> 
        {{#each types}}
        <option value="{{item.item_type}}">{{name}}</option>
        {{/each}}
    </select><br>
    Name: <input type="text" name="name" value="{{item.name}}"><br>
    Brand: <select name="brand" id="brand-selector"> 
        {{#each brands}}
        <option value="{{item.brand}}">{{name}}</option>
        {{/each}}
    </select><br>
    Substyle: <select name="substyle" id="substyle-selector"> 
        {{#each substyles}}
        <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select><br>
</form>
<button onclick="updateItem({{item.id}})">Update</button>

    
<script>

function updateItem(id){
    $.ajax({
        url: '/items/' + id,
        type: 'POST',
        data: $('#update-item').serialize(),
        success: function(result){
            window.location.replace("./");
        }
    })
};
</script>

<script>
    $("#brand-selector").val({{item.brand}});
    $("#substyle-selector").val({{item.substyle}});
    $("#type-selector").val({{item.type}});
    
</script>
